<?xml version="1.0" encoding="utf-8"?>
<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <FtpUser>说明：当Enabled项值为“true”，才会更新，修改为其它值，则可以跳过更新</FtpUser>
  <Enabled>true</Enabled>
  <Version>20171226</Version>
  <ReStart>LTZN.exe</ReStart>
  <ServerUrl>http://192.168.39.201/DownloadHandler.ashx</ServerUrl>
  <FtpPassW></FtpPassW>
  <SystemName>炼铁智能系统</SystemName>

</Config>